@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Gugi&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gugi', cursive;
}
.wrap {
    padding: 0 1rem;
}
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}
