@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Gugi&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gugi', cursive;
    scroll-behavior: smooth;
    outline: none;
}
.wrap {
    padding: 0 1rem;
}
section {
    width: 100%;
    min-height: 100vh;
}
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

::-webkit-scrollbar {
   width: .5rem; 
}
::-webkit-scrollbar-track {
    border-radius: .5rem;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
    box-shadow: insert 0 0 .45rem rgba(0, 0, 0, .3);
}
::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background: #555;
}
::-webkit-scrollbar-thumb:hover {
    background: #333;
}
