@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Gugi&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gugi', cursive;
}
.wrap {
    padding: 0 1rem;
}
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
  }
  
  .box-icon {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
  }
  
  .icon {
    flex: 150px;
    color: #6868ac;
    text-align: center;
  }
  
  .icon img {
    width: 55px;
    height: auto;
    margin-bottom: -10px;
  }
  .grid-container {
    padding: 0 10% 0 10%;
    text-align: center;
  }
  
  .grid-item-left {
    float: left;
  
    text-align: left;
  }
  
  .grid-item-left h1 {
    margin: 0;
    color: #ff9800;
    font-weight: 800;
    font-size: 22px;
    font-size: 22px;
    font-weight: 800;
  }
  
  .grid-item-left h2 {
    margin: 0;
  
    color: #039be5;
    font-weight: 800;
    font-size: 22px;
  }
  
  .grid-item-right {
    margin: 0;
    float: right;
    padding: 10px;
    text-align: right;
  }
  
  .grid-item-right img {
    width: 50%;
  }
  
  .video-container {
    position: relative;
    text-align: center;
  }
  
  video {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-align: center;
  }
  
  .clickable-box {
    width: auto;
    background-color: #6868ac;
    text-align: center;
    padding: 10px;
    display: inline-block;
  
    border-radius: 5px;
    box-shadow: 10px 10px 5px black;
  }
  
  .clickable-box h3 {
    color: white;
    font-size: 19px;
    margin: 0;
  }
  
